/*Headings*/
h1 {
	text-align: center;
	color: white;
	margin: 20px;
  -webkit-user-select: none;
}

h3 {
	text-align: center;
  -webkit-user-select: none;
}

/*Text Boxes*/
::placeholder {
  color: #FF5200;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
	box-shadow: inset 0px 0px 15px 1px #555;
	font-size: 16px;
}

#pdestination, #temploc {
	width: 75%;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: lightGray;
}


/*buttons*/
input[type=button] {
  width: 100%;
	height: auto;
  background-color: #FF5200;
	color: white;
	font-size: 16px;
  padding: 12px 15px;
  margin: 8px 0px;
  border: none;
	border-radius: 20px;
  cursor: pointer;
	/* box-shadow: inset 0px 0px 20px 1px #EE5000; */
	text-align: center;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;

}

#browse {
	display: inline-block;
	float: right;
	width: 15%;
	/* background-color: #FF5200; */
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;

}

input[type=submit] {
	width: 100%;
	font-size: 16px;
	padding: 12px 15px;
  margin: 8px 0px;
	background-color: #EE5000;
	color: white;
  border: none;
	border-radius: 20px;
  cursor: pointer;
	/* box-shadow: inset 0px 0px 15px 1px #333; */
	text-align: center;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;

}
/*hide the original choose file buttons*/
.directoryInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;r
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*style the label like a button*/
.browseLabel {
	display: inline-block;
	width: 18%;
	float: right;
	height: auto;
  background-color: #FF5200;
	color: white;
	font-size: 16px;
  padding: 12px 15px;
  margin: 8px 0px;
  border: none;
	border-radius: 20px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  cursor: pointer;
	text-align: center;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;

}

/*checkboxes*/
input[type=checkbox] {
	margin: 25px 16px;
}

/*labels*/
label {
	color: white;
	font-size: 24px;
	margin: auto;
	width: 100%;
  -webkit-user-select: none;
}

#secondaryLabel {
	color: lightGray;
  -webkit-user-select: none;
}

.checkBoxLabel {
	font-size: 20px;
	color: #333;
	margin-left: 0;
	margin-right: 0;
  -webkit-user-select: none;
}


.checkBoxLabelMain {
	font-size: 24px;
	color: gray;
  -webkit-user-select: none;
}

/*general elements*/
form {
	background-color: #171717;
  -webkit-user-select: none;
}

body {
	background-color: #171717;
  color: #FF5200;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

* {
	margin: 15px;
	padding: 0;
	font-family: sans-serif;
}

/*Responsive Elements i.e. rollover, click, etc*/

input[type=submit]:hover {
  background-color: #Fc5F24;
	color: #171717;
}

input[type=submit]:active {
	background-color: white;
	color: #171717;
}

input[type=submit]:disabled {
	background-color: gray;
	color: white;
}

input[type=text]:focus {
	box-shadow: inset 0px 0px 0px 2px white;
	background-color: #lightGray;
	outline:0;
}

#pdestination:focus, #temploc:focus{
	background-color: #lightGray;
	box-shadow: inset 0px 0px 0px 2px white;

}
input[type=text]:valid {
	background-color: #90FFF5;
}

input[type=text]:focus:invalid {
	background-color: #FF5200;
}
#pdestination:valid, #temploc:valid {
	background-color: #90FFF5;

}
#pdestination:focus:invalid, #temploc:focus:invalid {
	background-color: #FF5200;
}

input[type=button]:hover {
	background-color: #Fc5F24;
	color: #171717;
}

input[type=button]:active {
	background-color: white;
	color: #171717;
}

.browseLabel:hover {
	background-color: #FC5F24;
	color: #171717;
}

.browseLabel:active {
	background-color: white;
	color: #171717;
}

.browseLable:focus {
	background-color: white;
}

input[type=checkbox]:hover {
	color: #FF5200;
}

#checkBoxLabelMain:hover {
	color: #FF5200;
}

#ae_checkbox_main:checked + #checkBoxLabelMain {
	color: white;
}

input[type=checkbox]:checked + #checkBoxLabel {
	color: white;
}

#ae_checkbox_main:checked + #checkBoxLabel {
	color: white;
}
